* {
  padding: 0;
  margin: 0;
}

body {
  background: url("../assets/beach.png");
}

.content {
  height: 100vh;

  /* Grid containter */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header"
    "main"
    "footer";

  header {
    grid-area: header;
    justify-self: center;
    width: 100%;
    background-color: rgba(0, 200, 0, 0.4);
    color: wheat;
    font-weight: 900;
    font-size: 2rem;
    height: 5rem;
    width: 95%;
  }

  main {
    grid-area: main;
    justify-self: center;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    width: 95%;
  }

  footer {
    grid-area: footer;
    justify-self: center;
    background-color: rgba(0, 0, 0, 0.8);
    font-weight: 900;
    font-size: 2rem;
    color: wheat;
    text-align: center;
    height: 3rem;
    width: 95%;
  }
}
